@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Shizuru&display=swap');

.foodBlock {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F4511E;
}

.foodTitle {
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.foodPrice {
    font-size: 15px;
    color: #1b5e20
}